* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#everything {
    margin: 0 auto;
}

a {
    text-decoration: none;
}



.navbar {
    position: absolute;
    left: 70%;
    width: 100%;
}

#signin {
    background-color: #5A83FB;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    height: 35px;
    width: 70px;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px;
}

ul li a img{
    width:20px;
    height:20px;
    position: relative;
    top: 5px;
}

.logo {
    max-width: 340px;
    max-height: 200px;
    position: relative;
    top: 175px;
    left: 330px;
}

#logo {
    max-width: 337px;
    max-height: 139px;
    position: relative;
    left: 50px;
}

#top {

}

#bottom {
    border: 1px solid #E3E3E3;
    background-color: #F2F2F2;
    color: #666666;
    position: absolute;
    bottom:0;
    left:0;
    max-height: 100%;
    max-width: 100%;
}

#bigdivider {
    /*
    width: 40%;
    */
}

.left {
    float: left;
}

.right {
    float: right;
}

.search {
    margin: 0 auto;
    position: relative;  
    top: 200px; 
    left: 300px;
    max-width: 100%;
}

#searchbar {
    position: relative;
    display: block;
    width: 540px;
    height: 25px; 
    
}

#googlesearch {
    position:relative;
}

#lucky {
    position: relative;
}

.buttons {
    margin-top: 10px;
    left: 200px;
    background-color: #F5F5F5;
    font-weight: bold;
    border: 1px solid #D7D7D7;
    height: 25px;
    width: 110px;
}


