* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: Arial;
}

#everything {
    margin: 0 auto;
}

a {
    text-decoration: none;
}



.navbar {
    position: absolute;
    left: 70%;
    width: 100%;
}

.signin {
    background-color: #5A83FB;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    height: 35px;
    width: 70px;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px;
}

.appbox{
    width:20px;
    height:20px;
    position: relative;
    top: 5px;
}

#ap2 {
    width: 30px;
    height: 30px;
    position: relative;
    top: -5px;
}
.logo {
    max-width: 340px;
    max-height: 200px;
    position: relative;
    top: 175px;
    left: 330px;
}

#logo {
    max-width: 337px;
    max-height: 139px;
    position: relative;
    left: 50px;
}

#top {

}

#bottom {
    border: 1px solid #E3E3E3;
    background-color: #F2F2F2;
    color: #666666;
    position: absolute;
    bottom:0;
    left:0;
    max-height: 100%;
    max-width: 100%;
}

#bigdivider {
    /*
    width: 40%;
    */
}

.left {
    float: left;
}

.right {
    float: right;
}

.search {
    margin: 0 auto;
    position: relative;  
    top: 200px; 
    left: 300px;
    max-width: 100%;
}

#searchbar {
    position: relative;
    display: block;
    width: 540px;
    height: 25px; 
    
}

#googlesearch {
    position:relative;
}

#lucky {
    position: relative;
}

.buttons {
    margin-top: 10px;
    left: 200px;
    background-color: #F5F5F5;
    font-weight: bold;
    border: 1px solid #D7D7D7;
    height: 25px;
    width: 110px;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 50px;
    width: 1000px;
    background-color: #F1F1F1;
}

#smalllogo {
    margin-top: 5px;
    margin-left: 5px;
    max-height: 50px;
    max-width: 100px;
}

#navsearch {
    position: relative;
    top: 0px;
    left: -8px;
    padding-left: 15px;
    padding-bottom: 20px;
    border: 1px solid #7C7C7C;
    border-top: none;
    width: 1000px;
}

.spacer {
    display: inline-block;
    padding-left: 200px;
    padding-top: -30px;
}

li#navsearch {
    padding: 0 0 0 0;
    top: 8px;
    width: 100px;
    color: #7C7C7C;
    border: none;
}

#smallsearch {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    top: -15px;
    width: 500px;
    height: 25px;
    border: 1px solid #CBCBCB;
}


#smallsignin {
    display: inline; 
    position: relative;
    top: -15px;
}

#settings {
    display:inline-block;
}

.searchbody {
    position: relative;
    margin-left: 50px;
    color: #7B7B7B;
}

.entry {
    max-width: 75%;
}

p.entry {
    position: relative;
    margin-bottom: 2px;
}

#title {
    color: #1700A9;
    font-size: 20px; 
    margin-bottom: -12px; 
}

#link {
    color: #396728;
}

#date {
    display: inline;
    color: #7F7F7F;
}

#body {
    display: inline;
    color: #575757;
}

#tags {
    color: #1700A9;
}
