#container {
    margin: 10px auto;
}

#square {
    padding: 7px 7px 7px 7px;
    border: 1px solid black; 
    float: left;
}

.highlighted {
    background-color: black;
}

.nothighlighted {
    background-color: white;
}

#blank {
    padding-top: -5px;
    line-height: 0px;
}

#reset{
    position: relative;
    text-decoration: none;
    color: white;
    font: Aria bold; 
    padding: 5px 5px 5px 5px;
    background: #4D609C;
    border-radius: 10px;
    top: 10px;
    margin: 0 auto;
}
